# Задание 1
## 1.1. Соедините два словаря в один

In [77]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [78]:
dict1.update(dict2)

In [79]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [80]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

>dict1 | dict2 # Операция | доступна в Python 3.9 и выше  
>dict1
>dict3 = dict1 | dict2

>dict1 = dict1 | dict2 # Операция | доступна в Python 3.9 и выше  
>dict1
>dict3 = dict1 | dict2

## 1.2. Напишите функцию, которая на вход принимает два словаря и возвращает один объединённый словарь

In [81]:
def change_dict(dict_1: dict, dict_2: dict) -> dict:
    dict_1.update(dict_2)
    return dict_1
d4 = change_dict(dict1, dict2)
d4

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [82]:
d4 = {'One': 2, 'Two': 23, 'Three': 45, '|||': 7, 'Four': 235, 'Five': 386, 'Six': 478358}
d4

{'One': 2,
 'Two': 23,
 'Three': 45,
 '|||': 7,
 'Four': 235,
 'Five': 386,
 'Six': 478358}

In [83]:
change_dict(dict1, d4)

{'One': 2,
 'Two': 23,
 'Three': 45,
 'Four': 235,
 'Five': 386,
 'Six': 478358,
 '|||': 7}

In [84]:
dict1

{'One': 2,
 'Two': 23,
 'Three': 45,
 'Four': 235,
 'Five': 386,
 'Six': 478358,
 '|||': 7}

In [85]:
d4

{'One': 2,
 'Two': 23,
 'Three': 45,
 '|||': 7,
 'Four': 235,
 'Five': 386,
 'Six': 478358}

In [86]:
change_dict(d4, dict1)

{'One': 2,
 'Two': 23,
 'Three': 45,
 '|||': 7,
 'Four': 235,
 'Five': 386,
 'Six': 478358}

In [87]:
d4

{'One': 2,
 'Two': 23,
 'Three': 45,
 '|||': 7,
 'Four': 235,
 'Five': 386,
 'Six': 478358}

In [89]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3, '|||': 7}