# Словари

In [5]:
client_data = {
    'name': 'John',
    'surname': 'Doe',
    'age': 32
}
client_data

{'name': 'John', 'surname': 'Doe', 'age': 32}

In [6]:
client_data['name']

'John'

In [7]:
client_data['key']

KeyError: 'key'

In [8]:
client_data.get('key')

In [9]:
client_data.keys()

dict_keys(['name', 'surname', 'age'])

In [10]:
client_data.values()

dict_values(['John', 'Doe', 32])

In [11]:
client_data.items()

dict_items([('name', 'John'), ('surname', 'Doe'), ('age', 32)])

In [12]:
for k, v in client_data.items():
    print(f'{k}: {v}')

name: John
surname: Doe
age: 32

In [13]:
client_data['height'] = 186
client_data

{'name': 'John', 'surname': 'Doe', 'age': 32, 'height': 186}

In [14]:
client_data['age'] = 14
client_data

{'name': 'John', 'surname': 'Doe', 'age': 14, 'height': 186}

In [25]:
client_data = {
    'name': 'John',
    'surname': 'Doe',
    'age': 32
}
client_data

{'name': 'John', 'surname': 'Doe', 'age': 32}

In [24]:
client_data.setdefault('age', 14)

14

In [19]:
client_data

{'name': 'John', 'surname': 'Doe', 'age': 32}

In [22]:
client_data.setdefault('age', 14)

14

In [23]:
client_data

{'name': 'John', 'surname': 'Doe', 'age': 14}

In [27]:
client_data.update({
    'age':14
})
client_data

{'name': 'John', 'surname': 'Doe', 'age': 14}

In [28]:
client_data.update({
    'age': 15,
    'body': {
        'weight': 80,
        'height': 186
    }
})
client_data

{'name': 'John',
 'surname': 'Doe',
 'age': 15,
 'body': {'weight': 80, 'height': 186}}

In [17]:
client_data.setdefault('age', 14)

32

# Модуль  Ramdom

In [30]:
import random

In [39]:
random.randint(0, 10)

4

In [44]:
random.seed(9)
random.randint(0, 10)

7

In [49]:
random.random()

0.33832551168488023

In [53]:
random.uniform(0, 10)

9.363858671236786

In [68]:
a = ['black', 'red', 'yellow', 'green']
random.sample(a, 2)

['red', 'yellow']

In [69]:
random.shuffle(a)
a

['yellow', 'red', 'black', 'green']

In [71]:
 random.choice(a)

'green'

# Функции

In [73]:
def func(arg1, arg2):
    # make magic
    result = arg1 + arg2
    return result

## Аргументы по позиции и имени

In [74]:
def calc_sum(a, b):
    print(f'a is {a}')
    print(f'b is {b}')
    result = a + b
    return result

In [77]:
calc_sum(5, 3)

a is 5
b is 3

8

In [78]:
calc_sum(a = 3, b = 5)

a is 3
b is 5

8

In [79]:
calc_sum(b = 5, a = 3)

a is 3
b is 5

8

In [80]:
calc_sum(b = 5, 3)

SyntaxError: positional argument follows keyword argument (<ipython-input-80-12fdc6eb7ea6>, line 1)

In [81]:
calc_sum(3, b = 5)

a is 3
b is 5

8

## Аргументы по умолчанию

In [84]:
calc_sum()

TypeError: calc_sum() missing 2 required positional arguments: 'a' and 'b'

In [89]:
def say_hi(greeting = 'Hello', name = 'World'):
    return f'{greeting}, {name}'

In [90]:
say_hi()

'Hello, World'

In [92]:
def say_hi(greeting, name = 'World'):
    return f'{greeting}, {name}'

In [93]:
say_hi()

TypeError: say_hi() missing 1 required positional argument: 'greeting'

In [95]:
say_hi('hi', name = 'John')

'hi, John'

In [89]:
def say_hi(greeting = 'Hello', name = 'World'):
    return f'{greeting}, {name}'

In [96]:
say_hi(greeting = 'Hey', name = 'Apple')

'Hey, Apple'

In [97]:
say_hi(name = 'Apple', greeting = 'Hey')

'Hey, Apple'

## Аргумент *args

In [99]:
def calc_sum(a, b, c):
    result = a + b + c
    return result

In [100]:
def calc_sum(a, b, c, d, e):
    result = a + b + c + d + e
    return result

In [101]:
def calc_sum(*args):
    result = sum(args)
    return result

In [102]:
calc_sum(1)

1

In [103]:
calc_sum(1, 2, 3)

6

In [104]:
def calc_sum(*args):
    print(args)
    print(type(args))
    result = sum(args)
    return result

In [105]:
calc_sum(1, 2, 3)

(1, 2, 3)
<class 'tuple'>

6

In [108]:
def printer(*args):
    print(type(args))
    print(args)
    print()
    for i in args:
        print(i)

In [113]:
printer(1, 'text', {'key': 'value'})

<class 'tuple'>
(1, 'text', {'key': 'value'})

1
text
{'key': 'value'}

In [114]:
names = ['John', 'Nick', 'Bill']
printer(names)

<class 'tuple'>
(['John', 'Nick', 'Bill'],)

['John', 'Nick', 'Bill']

In [116]:
printer(*names)

<class 'tuple'>
('John', 'Nick', 'Bill')

John
Nick
Bill

## Атрибут **kwargs

In [122]:
def printer(**kwargs):
    print(type(kwargs))
    print()
    for key, value in kwargs.items():
        print(f'{key} - {value}')

In [124]:
printer(a = 10, b = '20', c = ['1', v])

<class 'dict'>

a - 10
b - 20
c - ['1', 32]

In [126]:
def say_hi(**kwargs):
    greeting = kwargs.get('greeting', 'Hello')
    name = kwargs.get('name', 'World')
    return f'{greeting}, {name}'

In [127]:
say_hi()

'Hello, World'

In [128]:
say_hi(greeting = 'Hey', name = 'John')

'Hey, John'

In [129]:
say_hi(greeting = 'Hey', name = 'John', extra = 5)

'Hey, John'

In [132]:
data = {
    'greeting': 'Hey',
    'name': 'John',
    'extra': 5
}
say_hi(**data)

'Hey, John'

In [133]:
say_hi(data)

TypeError: say_hi() takes 0 positional arguments but 1 was given

## Аннотирование типов

In [143]:
def calc_sum(a: int, b: int) -> int:
    return a + b

In [138]:
calc_sum(1, 2)

2

In [139]:
calc_sum(1.1, 2.2)

2.4200000000000004

In [144]:
calc_sum('abc', 'dce')

'abcdce'

In [145]:
calc_sum([1, 2], [2, 3])

[1, 2, 2, 3]

# Генераторы

In [147]:
def my_range(start, end):
    current = start
    while current < end:
        yield current
        current += 1

In [152]:
ranger = my_range(0, 2)
ranger

In [149]:
next(ranger)

0

In [150]:
next(ranger)

1

In [151]:
next(ranger)

StopIteration:

In [154]:
gen_a = my_range(2, 5)
for i in gen_a:
    print(i)

2
3
4

In [155]:
for i in gen_a:
    print(i)

# list comprehensions

In [157]:
squares = []
for i in range(5):
    squares.append(i * i)
squares

[0, 1, 4, 9, 16]

In [158]:
squares = [i * i for i in range(5)]
squares

[0, 1, 4, 9, 16]

new_list = [expression for in iterable]

In [162]:
even_nums = [i for i in range(10) if i % 2 == 0]
even_nums

[0, 2, 4, 6, 8]

In [163]:
orig_prices = [125, -9, 103, 38, -5, 116]

prices = []
for i in orig_prices:
    if i > 0:
        prices.append(i)
    else:
         prices.append(0)   

prices

[125, 0, 103, 38, 0, 116]

In [164]:
orig_prices = [125, -9, 103, 38, -5, 116]
prices = [i if i > 0 else 0 for i in orig_prices]
prices

[125, 0, 103, 38, 0, 116]

In [165]:
def get_price(price):
    return price if price > 0 else 0

prices = [get_price(i) for i in orig_prices]
prices

[125, 0, 103, 38, 0, 116]

## set comprehensions

In [168]:
numbers = ['black', 'red', 'green', 'green', 'red', 'green']
{i for i in numbers}

{'black', 'green', 'red'}

## dict comprehensions

In [171]:
squares_dict = {i: i * i for i in range(5)}
squares_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

# Сравнение скорости и работы

In [181]:
%%time

even_nums = []
for i in range(100_000_000):
    if i % 2 == 0:
        even_nums.append(i)

Wall time: 19.4 s

In [180]:
%%time
even_nums = [i for i in range(100_000_000) if i % 2 == 0]

Wall time: 9.92 s